<heml>
    <head>
        <title>
            This is the title.
        </title>
    </head>
    <body>
        This is the first class for the HTML.
        HTML 课堂笔记
        <h1>1、什么是HTML？</h1>
        <p>  Hyper Text Markup Language</p>
	        <p> 超文本标记语言</p>

                <h2>超文本？超级文本，例如流媒体，声音、视频、图片等。</h2>
                    <h3> 标记语言？这种语言是由大量的标签组成。</h3>

                        <p> 任何一个标签都有开始标签和结束标签，<br>例如：</p>
                            <p>	<标签>    : 开始标签</p>
                                <p>   <标签>   : 结束标签</p>
                                <hr color="blue">

                                        <p> HTML严格意义上来只能说是一种规范，一种浏览器上的规范，</p>
                                        <p> 标签语言，不能称为编程语言，因为HTML中没有变量、数据类型</p>
                                            <p>控制语句if 、for，这些都没有的。</p>
                                            <hr color="red">

                                            <pre>
                                                (int i =0, i<100, i++){
                                                    system.out.println("i=" + i)
                                                }
                                            </pre>
        <b>
            粗体字
        </b> 
        <br>
        <i>
            斜体字
        </i>
        <br> 
        <ins>
            插入字
        </ins>
        <br>
        <del>
            删除字
        </del><br>
        10<sup>2</sup><br>
        10<sub>2</sub><br>
        <font color="red", size="6">hello world</font> <br>



    </body>
</heml>